{:source-paths ["src/main"]
 :dependencies [[reagent "1.1.0"]]
 :nrepl        {:port 5555}
 :dev-http     {8080 "./"}
 :builds       {:curriculum      {:target :browser
                                  :output-dir "resources/public"
                                  :asset-path "./"
                                  :modules {:main {:init-fn core/start}}}}}
